

  <div class="hero">
    <div class="background-container" style="background-image: url(https://cdn.pixabay.com/index/2021/11/02/07-35-50-740_1440x550.jpg); padding: 150px;">
      <div class="container text-center">
        <h1 class="text-white">WELCOME TO Airbnb CLONE!</h1>
        <p class="text-white">Find me in app/views/pages/home.html.erb</p>
        <div class="search-fome">
        <form action="" method="post">
          <input type="date" name="start_date" id="">
        </form>
          <%# <%= simple_form_for user do |f| %>
            <%#= f.input :name %>
            <%#= f.submit class: 'btn btn-secondary' %>
          <%# end %>
        </div>
      </div>
    </div>
 </div>
