.form-control {
  font-size: 14px;
  height: 40px;
  border-radius: 4px;
  border-color: #a4d9cb;
}

label {
  font-size: 14px;
  font-family: 'Josefin Sans', "Helvetica", "sans-serif";
}

.form-group {
  padding-bottom: 10px;
}
