<div class="d-flex border-top mt-4 p-4">
  <div class="footer-body mr-5">
    <%= link_to root_path, class: 'text-secondary mx-3'  do %>
      <i class="fas fa-store mr-2 h3"></i>Back to HOME
    <% end %>
  </div>
  <ul class="list-unstyled mx-3">
    <h4>Search by</h4>
    <li>Category</li>
    <li>Location</li>
    <li>User</li>
  </ul>
  <ul class="list-unstyled mx-3">
    <h4>Search by</h4>
    <li>Category</li>
    <li>Location</li>
    <li>User</li>
  </ul>
  <ul class="list-unstyled mx-3">
    <h4>Search by</h4>
    <li>Category</li>
    <li>Location</li>
    <li>User</li>
  </ul>
</div>
  <div class="footer-bottom d-flex justify-content-between px-5 pb-2">
    <p>@2021 Rails Airbnb Clone,Inc.</p>
    <ul class="d-flex list-unstyled">
      <li class="mr-2">
      <%= link_to root_path, class: 'text-secondary mx-3'  do %>
        <i class="fab fa-twitter h3"></i>
      <% end %>
      </li>
      <li class="mr-2">
      <%= link_to root_path, class: 'text-secondary mx-3'  do %>
        <i class="fab fa-instagram h3"></i>
      <% end %>
      </li>
      <li class="mr-2">
      <%= link_to root_path, class: 'text-secondary mx-3'  do %>
        <i class="fab fa-facebook-f h3"></i>
      <% end %>
      </li>
    </ul>
</div>
