<div class="footer border-top mt-4 p-4">

  <ul class="d-flex">
    <li class="mr-2">
    <%= link_to root_path, class: 'text-secondary'  do %>
      <i class="fas fa-store yellow mr-3"></i>Back to HOME
    <% end %>
    </li>
    <li class="mr-2">
    <%= link_to root_path, class: 'text-secondary'  do %>
      <i class="fas fa-store yellow mr-3"></i>Back to HOME
    <% end %>
    </li>
    <li class="mr-2">
    <%= link_to root_path, class: 'text-secondary'  do %>
      <i class="fas fa-store yellow mr-3"></i>Back to HOME
    <% end %>
    </li>

  </ul>
</div>
